################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/BinaryTree/.vs/BinaryTree/v16
/BinaryTree/.vs/BinaryTree/DesignTimeBuild
